.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #a60e0e;
  height: 1129px;
  position: relative;
  overflow: hidden;
}
.i-burn {
  color: #e17f7f;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 47%;
  transform: translate(-50%, -50%);
  top: 100px;
  width: 249px;
  height: 87px;
}
.div2 {
  width: 158px;
  height: 56px;
  position: absolute;
  left: 119px;
  top: 198px;
}
.div3 {
  color: #430000;
  text-align: center;
  font-family: "-", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 12.03%;
  left: -12.03%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.div-3-span {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "SongMyung-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.div-3-span2 {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "NotoSerifJp-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.div-3-span3 {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "SongMyung-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.div4 {
  width: 204px;
  height: 56px;
  position: absolute;
  left: 96px;
  top: 341px;
}
.div5 {
  color: #430000;
  text-align: center;
  font-family: "-", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.div-5-span {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "SongMyung-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.div-5-span2 {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "NotoSerifJp-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.div-5-span3 {
  color: #430000;
  list-style-type: decimal;
  padding-left: 1em;
  font-family: "SongMyung-Regular", serif;
  font-size: 36px;
  font-weight: 400;
}
.moon {
  width: 190px;
  height: 56px;
  position: absolute;
  left: 90px;
  top: 484px;
}
.moon2 {
  color: #430000;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.where-is-love {
  width: 289px;
  height: 56px;
  position: absolute;
  left: 331px;
  top: 198px;
}
.where-is-love2 {
  color: #430000;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.lost {
  width: 157px;
  height: 56px;
  position: absolute;
  left: 335px;
  top: 341px;
}
.lost2 {
  color: #430000;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.dahlia {
  width: 201px;
  height: 56px;
  position: absolute;
  left: 342px;
  top: 484px;
}
.dahlia2 {
  color: #430000;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vector-1 {
  width: 180.5px;
  height: 0px;
  position: absolute;
  left: 442.5px;
  top: 120.5px;
  overflow: visible;
}
.vector-2 {
  width: 180.5px;
  height: 0px;
  position: absolute;
  left: 46px;
  top: 120.5px;
  overflow: visible;
}
.vector-3 {
  width: 577px;
  height: 0px;
  position: absolute;
  left: 46px;
  top: 667px;
  overflow: visible;
}
