.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(
      to left,
      rgba(32, 53, 173, 0.33),
      rgba(32, 53, 173, 0.33)
    ),
    linear-gradient(to left, #e40000, #e40000);
  height: 1873px;
  position: relative;
  overflow: hidden;
  
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "-", serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 130px;
  white-space: nowrap;
  width: 194px;
  height: 98px;
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
  text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
}
.div-2-span {
  color: #000000;
  font-family: "SongMyung-Regular", serif;
  font-size: 64px;
  font-weight: 530;
}
.div-2-span2 {
  color: #000000;
  font-family: "NotoSerifJp-Regular", serif;
  font-size: 64px;
  font-weight: 400;
}
.div-2-span3 {
  color: #000000;
  font-family: "SongMyung-Regular", serif;
  font-size: 64px;
  font-weight: 400;
}
.div3 {
  width: 430px;
  height: 1203px;
  position: absolute;
  left: 52%;
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
  top: 216px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "SongMyung-Regular", serif;
  font-size: 20px;
  line-height: 68px;
  font-weight: 700;
  text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  bottom: 0%;
  top: 600px;
  height: 100%;
}
.div5 {
  color: #6b6190;
  text-align: center;
  font-family: "long cang", serif;
  font-size: 700px;
  font-weight: 500;
  position: fixed;
  
  left: 40%;
  width: 55.07%;
  bottom: 69.83%;
  top: -7.15%;
  height: 37.32%;
  opacity: 70%;
}
