.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #be0000;
  height: 3381px;
  position: relative;
  overflow: hidden;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "SongMyung-Regular", serif;
  font-size: 24px;
  line-height: 60px;
  font-weight: 530;
  position: absolute;
  left: 10%;
  top: 248px;
  width: 630px;
  height: 3162px;
  text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.4);

}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "-", san-serif;
  font-size: 80px;
  font-weight: 500;
  position: absolute;
  margin-left: 7%;
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.4);
  left: 151px;
  top: 98px;
  width: 423px;
  height: 248px;
}
.div-3-span {
  color: #000000;
  font-family: "SongMyung-Regular", serif;
  font-size: 80px;
  font-weight: 400;
}
.div-3-span2 {
  color: #000000;
  font-family: "NotoSerifJp-Regular", serif;
  font-size: 80px;
  font-weight: 400;
}
.div-3-span3 {
  color: #000000;
  font-family: "SongMyung-Regular", serif;
  font-size: 80px;
  font-weight: 400;
}
.fire-2 {
  width: 676px;
  height: 1213px;
  position: fixed;
  left: 676px;
  top: -81px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  box-shadow: 22px 3px 15.7px 5px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  
}
.fire-1 {
  width: 100%;
  height: 1213px;
  position: fixed;
  left: -0%;
  top: 0px;
  box-shadow: 22px 3px 15.7px 5px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
