.what-is-love,
.what-is-love * {
  box-sizing: border-box;
}
.what-is-love {
  background: #d20000;
  height: 2278px;
  position: relative;
  white-space: nowrap;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.whereislove-1 {
  width: 1217px;
  height: 2245px;
  position: absolute;
  left: -347px;
  margin-left: 5%;
  top: -66px;
  filter: blur(2.25px);
  object-fit: cover;
}
.where-is-love {
  color: #f32a2a;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 64px;
  font-weight: 400;
  margin-left: 5%;
  position: absolute;
  left: 44%; 
  transform: translate(-50%, -50%); 
  top: 108px;
  width: 382px;
  height: 56px;
  
}
.where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-fake-lovesick-like-a-smoke-hug-love-if-i-could-let-go-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love-where-is-love {
  color: #ff8383;
  text-align: center;
  font-family: "SongMyung-Regular",  serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  
  top: 1250px;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  position: absolute;
  
  width: 531px;
  height: 1993px;
}
 