.moon,
.moon * {
  box-sizing: border-box;
}
.moon {
  background: #291e58;
  height: 1971px;
  position: relative;
  overflow: hidden;
}
.moon-1 {
  width: 749px;
  height: 530px;
  position: absolute;
  left: -37px;
  top: -83px;
  object-fit: cover;
}
.do-not-shine-on-me-oh-moon-moon-do-not-come-near-me-oh-moon-turn-off-the-moonlight-please-don-t-let-it-shine-please-hide-me-do-not-shine-on-me-oh-moon-moon-do-not-come-near-me-oh-moon-t-urn-off-the-moonlight-please-don-t-let-it-shine-please-hide-me-sky-please-hide-me {
  color: #9f8ee7;
  text-align: center;
  font-family: "SongMyung-Regular", serif;
  font-size: 24px;
  line-height: 190%;
  font-weight: 500;
  margin-left: 5%;
  position: absolute;
  left: 44%; 
  transform: translate(-50%, -50%); 
  top: 280px;
  width: 382px;
  height: 56px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.moon2 {
  width: 201px;
  height: 84px;
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translate(-50%, -50%);
}
.moon3 {
  color: #e0d986;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 64px;
  font-weight: 500;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  
  /* 화면 가운데에 위치시키기 위한 설정 */
  position: absolute;
  left: 50%; /* 가로 중앙 */
  top: 50%;  /* 세로 중앙 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */

  width: 382px;
  height: 56px;
}
.cloud-2 {
  width: 788px;
  height: 951px;
  position: sticky;
  left: 788px;
  top: 913px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  filter: blur(2.55px);
  object-fit: cover;
}
.cloud-1 {
  width: 1012px;
  height: 1242px;
  position: sticky;
  left: -356px;
  top: 370px;
  filter: blur(2.55px);
  object-fit: cover;
}
