.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #000000;
  height: 1061px;
  position: relative;
  overflow: hidden;
}
.cover {
  width: 300px;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.g-i-dle {
  color: #f24131;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 39px;
  text-align: center;
  transform: translate(-50%, -50%);
  
}
.i-burn {
  width: 471px;
  height: 266px;
  position: absolute;
  left: 50%;
  top: 569px;
  margin-left: -35%;
  white-space: nowrap;
  
}
.i-burn2 {
  color: #f24131;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  display: inline-block;
  left: 50%;
  width: 100%;
  top: 70px;
  height: 100%;
  transform: translate(-50%, -50%);
}
