.lost,
.lost * {
  box-sizing: border-box;
}
.lost {
  background: #290000;
  height: 2390px;
  position: relative;
  overflow: hidden;
}
.lost2 {
  width: 229px;
  height: 93px;
  position: absolute;
  left: 234px;
  top: 117px;
}
.lost3 {
  color: #967575;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 0px;
  transform: translate(-50%, -50%);
  height: 100px;
}
.i-don-t-wanna-think-about-you-without-you-i-don-t-wanna-think-about-you-without-you-i-don-t-wanna-think-about-you-without-you-i-don-t-wanna-think-about-you-without-you-i-don-t-wanna-think-about-you-without-you-now-i-i-lost-you-i-don-t-wanna-think-about-you-without-you-now-i-i-lost-you {
  color: #9e8080;
  text-align: center;
  font-family: "SongMyung-Regular", serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 1250px;
  width: 549px;
  height: 2024px;
  transform: translate(-50%, -50%);
}
